@layer base {
  :root {
    --vh: 100dvh;
  }

  body {
    /* Prevents "rubber-banding" scroll issues on iOS */
    overscroll-behavior-y: none; 
    -webkit-overflow-scrolling: touch;
  }

  /* Utility for modern mobile displays with home bars */
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* Optimize Shadcn Sheets/Dialogs for Mobile */
[data-radix-popper-content-wrapper] {
  max-width: 95vw !important;
}
